__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
env/
ENV/
.mypy_cache/
pytest_cache/
.pytest_cache/
.dmypy.json
.venv/
node_modules
tmpdir
tmpdir_tts
tmpdir_vocoder
# Ignore SQLite database files
*.db
# ignore audio file 
audio